html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}

a {
    cursor: pointer;
}

.container {
    margin-top: 40px;
}

.preloader {
    background: url("../img/preloader.gif") center no-repeat;
    height: 300px;
    background-size: 6%;
    * {
        display: none;
    }
}

.breadcrumb {
    margin-bottom: 0px;
}

