html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}
body {
      background-color: rgba(168, 168, 168, 0.08);
      overflow: hidden;
}

a {
    cursor: pointer;
}

.container {
    height: 100%;
    padding: 0 0 50px 0;
    position: relative;
    background-color: white;
    border: solid rgba(128, 128, 128, 0.31);
    border-width: 0 1px 0 1px;
}

.app-wrapper {
    padding: 10px 20px;
    height: 100%;
    overflow: auto;
}

.preloader {
    background: url("../img/preloader.gif") center no-repeat;
    height: 300px;
    background-size: 6%;
    * {
        display: none;
    }
}

.breadcrumb {
    margin-bottom: 0px;
}

.left {
    float: left;
}
.right {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgba(199, 199, 199, 0.17);
    width: 100%;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(189, 189, 189, 0.49);
    div {
        display: inline-block;
        line-height: 50px;
        height: 50px;
        margin: 0 10px;
    }
}
pre {
    white-space: normal;
    word-break: break-all;
    max-width: 1000px;
}

.analyzing-service-container {
    padding-top: 20px;
    > div {
        margin-bottom: 10px;
    }
}