/* highcharts */
.sensor-view {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #f5f5f5;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    border: 1px solid rgb(219, 219, 219);
}
.highcharts-button {
    display: none;
}
.highcharts-container {
    margin-top: 10px;
}
.chart-control {
    display: inline-block;
    max-width: 225px;
    margin: 0 0 10px 10px;
    vertical-align: bottom;
    &.mode-control {
        vertical-align: top;
    }
}
.range-control {
    float: right;
    display: inline-block;
}
.mode-control {
    height: 70px;
}