.button {
  padding: 3px 20px;
  margin: 0;
  height: 25px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 20px;
  margin: 0;
  height: 25px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3E9CE4;
}
.button:hover {
  background-color: #1d83d2;
}
.button:active {
  background-color: #1767a5;
}
.login-form {
  width: 520px;
  margin: 50px auto 0 ;
  background-color: #FBFBFB;
  border: 1px solid #EEEEEE;
  padding: 30px 30px 60px 130px;
}
.login-form h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.login-form input {
  margin-bottom: 15px;
}
.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password],
.alert-danger {
  width: 250px;
}
.login-form #error {
  color: #9e0b0f;
  margin-bottom: 20px;
}
.login-form #error p {
  font-size: 10px;
  margin: 5px 0 0 0;
}
p strong {
    width: 100px;
}
p.error {
  font-style: italic;
  color: red;
}