<h2>Data Analyzing</h2>
<section>
    <ol class="breadcrumb">
        <li>Queries <a href="#/new-query">[add]</a></li>
    </ol>
    <ol>
        <li ng-repeat="query in queries">
            <div>
                <label for="">Name: </label>
                <span>{{ query.name }} <a href="{{ '#/queries/' + query.id }}">[view events]</a></span>
            </div>
            <div>
                <label for="">Created: </label>
                <span>{{ query.created }}</span>
            </div>
            <div>
                <label for="">Text: </label>
                <pre>{{ query.text }}</pre>
            </div>
        <li>
    </ol>
</section>