<h2>Data Analyzing</h2>
<section>
    <ol class="breadcrumb">
        <li><a href="#/queries">Queries</a></li>
        <li class="active">New Query</li>
    </ol>
    <div class="analyzing-service-container">
        <div>
            <label>Name</label>
            <input class="form-control" value=" {{ name }} "/>
        </div>
        <div>
            <label>Query</label>
            <textarea class="form-control" ng-model="text"></textarea>
        </div>
        <button class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
</section>