<h2>SemIoT Platform</h2>
<section>
    <ol class="breadcrumb">
        <li><a href="#/systems">Systems</a></li>
        <li class="active">{{ title }}</li>
    </ol>
    <div id="single-system-wrapper">
        <div ng-show="sensors.length === 0">System has no observable sensors</div>
        <div ng-repeat="sensor in sensors" class="sensor-view">
            <div class="range-control">
                <label>From</label>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown{{ $index }}.0" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-value="sensor.range[0] | date: 'yyyy-MM-dd HH:mm'">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker
                            data-ng-model="sensor.range[0]"
                            data-on-set-time="onTimeSet(newDate, oldDate)"
                            data-datetimepicker-config="{ dropdownSelector: '#dropdown{{ $index }}.0' }"/>
                    </ul>
                </div>
            </div>
            <div class="range-control">
                <label>
                    <span>To</span>
                    <a ng-click="onNowClicked(sensor)">[now]</a>
                </label>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown{{ $index }}.1" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-value="sensor.range[1] | date: 'yyyy-MM-dd HH:mm'">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="sensor.range[1]" data-datetimepicker-config="{ dropdownSelector: '#dropdown{{ $index }}.1' }"/>
                    </ul>
                </div>
            </div>
            <div class="range-control">
                <button class="btn btn-primary" ng-click="setRange($index)">Select</button>
            </div>
            <highchart config="sensor.chartConfig"></highchart>
        </div>
    </div>
</section>