<h2>SemIoT Platform v{{ version }}</h2>
<section>
    <ol class="breadcrumb">
        <li><a href="#/systems">Systems</a></li>
        <li class="active">{{ title }}</li>
    </ol>
    <div id="single-system-wrapper" ng-class="{preloader: isLoading}">
        <div ng-repeat="sensor in sensors" class="sensor-view">
            <div class="mode-control btn-group">
                <label class="btn btn-primary" ng-click="onSetModeClick(sensor, getModes()['real-time'])" ng-model="sensor.mode" btn-radio="getModes()['real-time']">Real-Time</label>
                <label class="btn btn-primary" ng-click="onSetModeClick(sensor, getModes()['archive'])" ng-model="sensor.mode" btn-radio="getModes()['archive']">Archive</label>
            </div>

            <div class="range-control" ng-if="sensor.mode === getModes()['archive']">
                <div class="chart-control">
                    <button class="btn btn-primary" ng-click="onSetRangeClick($index)">Select</button>
                </div>
                <div class="chart-control">
                    <label>From</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown{{ $index }}.0" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-value="sensor.range[0] | date: 'yyyy-MM-dd HH:mm'">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker
                                data-ng-model="sensor.range[0]"
                                data-on-set-time="onTimeSet(newDate, oldDate)"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown{{ $index }}.0' }"/>
                        </ul>
                    </div>
                </div>
                <div ng-if="sensor.mode === getModes()['archive']" class="chart-control">
                    <label>
                        <span>To</span>
                        <a ng-click="onNowClicked(sensor)">[now]</a>
                    </label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown{{ $index }}.1" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-value="sensor.range[1] | date: 'yyyy-MM-dd HH:mm'">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="sensor.range[1]" data-datetimepicker-config="{ dropdownSelector: '#dropdown{{ $index }}.1' }"/>
                        </ul>
                    </div>
                </div>
            </div>
            <highchart ng-if="sensor.chartConfig.series[0].data.length > 0" config="sensor.chartConfig"></highchart>
            <div ng-if="sensor.chartConfig.series[0].data.length === 0" class="empty-sensor-chart">No observations found for this period</div>
        </div>
    </div>
</section>