<div class="login-form">
    <h3>Authentication</h3>
    <form>
	    <div class="alert alert-danger" role="alert" ng-if="error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Login or password is incorrect
        </div>
        <p>
            <input type="text" ng-model="login" size="25" placeholder="login" class="form-control"/>
        </p>
        <p>
            <input type="password" size="15" ng-model="password" placeholder="password" class="form-control"/>
        </p>
        <p>
            <button class="btn btn-primary" ng-click="submit()">Submit</button>
        </p>
    </form>
</div>