<section ng-class="{preloader: isLoading}">
    <ol class="breadcrumb">
        <li class="active">Systems</li>
    </ol>
    <div class="table-responsive system-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <label>№</label>
                    </th>
                    <th>
                        <div class="form-group is-empty form-group-sm">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input
                                    ng-change="setPagination()"
                                    ng-model="search.name"
                                    placeholder="name"
                                    class="form-control"
                                    type="text"
                                />
                            </div>
                            <span class="material-input"></span>
                        </div>
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="systems.length === 0">
                    <td>No systems registered</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="system in systems | filter: filterFunction" ng-click="showSingle(system)">
                    <td>{{ system.index }}</td>
                    <td><a href="{{ '#/systems/' + system.uri }}">{{ system.name }}</a></td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination
        ng-model="pagination.currentPage"
        items-per-page="pagination.itemsPerPage"
        total-items="pagination.totalItems"
        max-size="pagination.maxSize"
        boundary-links="true"
        num-pages="pagination.numPages"
        ng-change="setPagination()">
    </pagination>
</section>