<section>
    <ol class="breadcrumb">
        <li><a href="/systems">Systems</a></li>
        <li class="active">{{ system.name }}</li>
    </ol>
    <div id="single-system-wrapper" ng-class="{preloader: isLoading}">
        <div ng-repeat="process in processes" class="process-view">
            <h2 class="process__title">{{ process.id }}</h2>
            <div class="process__last-command-result" ng-if="process.commandResults[0]">
                <label>Last command result: </label>
                <span>{{ process.commandResults[0].result }}</span> on {{ process.commandResults[0].timestamp }}
            </div>
            <div class="process__actiations">
                <fieldset>
                    <label>Supported operations:</label>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Action</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-if="process.currentOperation" ng-model="process.currentOperation">
                                <option ng-repeat="operation in process.operations"
                                    ng-value="operation.id"
                                    ng-selected="operation.id == process.currentOperation"
                                >{{ operation.label }}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" ng-repeat="param in getCurrentOperation(process).body['dul:hasParameter']">
                            <label class="col-md-2 control-label">{{ param['sh:predicate']['sh:name']['@value'] }}</label>
                            <div class="col-md-10">
                                <input class="form-control" ng-value="param['sh:predicate']['sh:defaultValue']">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-primary" ng-click="onPerformOperationClick(process)">Perform</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-repeat="sensor in sensors" class="sensor-view">
            <div class="mode-control btn-group">
                <label class="btn btn-raised" ng-click="onSetModeClick(sensor, getModes()['real-time'])" ng-model="sensor.mode" btn-radio="getModes()['real-time']">Real-Time</label>
                <label class="btn btn-raised" ng-click="onSetModeClick(sensor, getModes()['archive'])" ng-model="sensor.mode" btn-radio="getModes()['archive']">Archive</label>
            </div>

            <div class="range-control" ng-if="sensor.mode === getModes()['archive']">
                <div class="chart-control">
                    <button class="btn btn-primary btn-raised" ng-click="onSetRangeClick($index)">Select</button>
                </div>
                <div class="chart-control">
                    <label>From</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown{{ $index }}.0" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-value="sensor.range[0] | date: 'yyyy-MM-dd HH:mm'">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker
                                data-ng-model="sensor.range[0]"
                                data-on-set-time="onTimeSet(newDate, oldDate)"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown{{ $index }}.0' }"/>
                        </ul>
                    </div>
                </div>
                <div ng-if="sensor.mode === getModes()['archive']" class="chart-control">
                    <label>
                        <span>To</span>
                        <a ng-click="onNowClicked(sensor)">[now]</a>
                    </label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown{{ $index }}.1" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-value="sensor.range[1] | date: 'yyyy-MM-dd HH:mm'">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="sensor.range[1]" data-datetimepicker-config="{ dropdownSelector: '#dropdown{{ $index }}.1' }"/>
                        </ul>
                    </div>
                </div>
            </div>
            <highchart ng-if="sensor.chartConfig.series[0].data.length > 0" config="sensor.chartConfig"></highchart>
            <div ng-if="sensor.chartConfig.series[0].data.length === 0 && sensor.mode === getModes()['archive']" class="empty-sensor-chart">
                <span>{{ sensor.label }}</span>
                <br>
                <span>No observations found for this period</span>
            </div>
            <div ng-if="sensor.chartConfig.series[0].data.length === 0 && sensor.mode === getModes()['real-time']" class="empty-sensor-chart">

                <span>{{ sensor.label }}</span>
                <br>
                <span>Waiting for the first observation..</span>
            </div>
        </div>
    </div>
</section>