<!DOCTYPE html>
<html ng-app="semiotApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SemIoT</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<h2>SemIoT Platform</h2>
		<section ng-controller="MeterListCtrl" ng-show="mode === 'List'">
			<h4>Registered meters ({{ meters.length }})</h4>
			<div class="table-responsive">
				<table class="table table-striped" id="systems-list">
					<thead>
						<tr>
							<th>
								<label>№</label>
							</th>
							<th>
								<select class="form-control" ng-model="search.type">
									<option value="">Type</option>
									<option ng-repeat="type in search.types" value="{{ convertType(type) }}">{{ convertType(type) }}</option>
								</select>
							</th>							
							<th>
								<input type=text ng-model="search.name" class="form-control" placeholder="Name"/>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="meters.length === 0">
							<td>No meters registered</td>
							<td></td>
							<td></td>
						</tr>
						<tr ng-repeat="meter in meters | filter: filterFunction | orderBy: 'name'" ng-click="showSingle($index)">
							<td>{{ $index + 1 }}</td>
							<td>{{ meter.type }}</td>
							<td>{{ meter.name }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section ng-controller="MeterSingleCtrl" ng-show="mode === 'Single'">
			<h4>Single Controller</h4>
			<a href="#" ng-click="showList()">back</a>
		</section>			
	</div>
</body>
<script src="js/lib/autobahn.min.jgz"></script>
<script src="js/lib/n3-browser.min.js"></script>
<script src="js/lib/angular.js"></script>
<script src="js/config.js"></script>
<script src="js/utils.js"></script>
<script src="js/data-provider.js"></script>
<script src="js/main.js"></script>
</html>