
  
input[type=""],
input[type="text"],
input[type="password"],
input[type="readonly"],
input[type="tel"],
input[type="number"],
input[type="email"],
textarea,
.ui-spinner {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #D8D5D5;
  border-radius: 0;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
}
input[type=""]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="readonly"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus,
.ui-spinner:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 4px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 4px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 4px rgba(82,168,236,0.6);
}
input.error,
textarea.error {
  border-color: rgba(236, 82, 82, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6);
}
input[type="submit"],
button {
  -webkit-appearance: none;
  border-radius: 0;
}
textarea {
  padding: 5px;
  width: 300px;
  height: 60px;
  resize: vertical;
}
select {
  margin: 0;
  padding: 0;
  min-height: 20px;
}
.button {
  padding: 3px 20px;
  margin: 0;
  height: 25px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 20px;
  margin: 0;
  height: 25px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3E9CE4;
}
.button:hover {
  background-color: #1d83d2;
}
.button:active {
  background-color: #1767a5;
}
i {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: sub;
}
i.info,
i.camera-info {
  background-image: url('../img/button-detail-sprite.png');
}
i.info:hover,
i.camera-info:hover {
  background-position-y: 22px;
}
i.camera-info {
  vertical-align: inherit;
}
header {
  height: 40px;
  padding: 0 10px;
}
header > * {
  height: 40px;
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
}
header .user-info {
  float: right;
}
#content {
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -o-calc(100% - 60px);
  height: calc(100% - 60px);
  overflow-y: auto;
  position: relative;
}
.datepicker-el,
.timepicker-el {
  display: inline-block;
}
.datepicker-el input,
.timepicker-el input {
  width: 90px;
}
.input-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.input-wrapper > span {
  text-align: right;
  width: 15px;
  float: left;
  margin-right: 5px;
}
input.disabled {
  background-color: #F0F0F0;
}
.input-append .add-on {
  height: 25px;
  cursor: pointer;
  line-height: 15px;
}
.input-append .add-on:hover {
  background-color: #d5d5d5;
}
.date-block label {
  width: 80px;
}
.date-block span {
  vertical-align: top;
}
.date-block .datepicker-el,
.date-block .timepicker-el {
  margin-bottom: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.date-block #event-date-overall {
  margin-left: 20px;
}
footer {
  height: 30px;
  display: block;
  background-color: #2B343D;
  color: white;
}
footer span {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
footer,
header {
  width: 100%;
  height: 35px;
  background-color: #2B343D;
}
footer {
  position: absolute;
  top: auto;
  bottom: 0;
}
.login-form {
  width: 520px;
  margin: 50px auto 0 ;
  background-color: #FBFBFB;
  border: 1px solid #EEEEEE;
  padding: 30px 30px 60px 130px;
}
.login-form h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.login-form input {
  margin-bottom: 15px;
}
.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password] {
  width: 250px;
}
.login-form #error {
  color: #9e0b0f;
  margin-bottom: 20px;
}
.login-form #error p {
  font-size: 10px;
  margin: 5px 0 0 0;
}
p strong {
    width: 100px;
}
p.error {
  font-style: italic;
  color: red;
}