<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="io.netty" level="INFO"/>
    <logger name="ws.wamp.jawampa" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.apache.jena" level="INFO"/>
    <logger name="com.hp.hpl.jena" level="INFO"/>
    <logger name="com.hp.hpl.jena.util.FileManager" level="DEBUG"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>