@import (inline) "../../node_modules/react-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css";

#root {
    padding: 20px 20px 10px 20px;
    height: 100%;
}

.preloader {
    background: url("../img/preloader.gif") center no-repeat;
    height: 300px;
    background-size: 6%;
    * {
        display: none;
    }
}

.breadcrumb {
    margin-bottom: 0px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.datetimepicker {
    width: 280px;
}
.dropdown-menu {
    right: 0;
    min-width: initial;
    left: initial;
}
footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    div {
        display: inline-block;
        line-height: 50px;
        height: 50px;
        margin: 0 10px;
    }
}
pre {
    white-space: normal;
    word-break: break-all;
    max-width: 1000px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px;
    div {
        display: inline-block;
        line-height: 50px;
        height: 50px;
        margin: 0 10px;
    }
}

.system-list {
    .table {
        margin-bottom: 0;
        background-color: white;
        thead {
            background-color: rgba(231, 231, 231, 0.45);
            > tr > th {
                padding: 5px 5px 5px 0;
                &:first-child,
                &:nth-of-type(3) {
                    padding: 8px;
                }
                input {
                    padding: 0 10px;
                }
                select {
                    padding: 0 2px;
                }
            }
        }
        tr {
            cursor: pointer;
        }
        tr:hover > td {
            background-color: rgba(231, 231, 231, 0.45) !important;
        }
        tr > td {
            height: 30px;
            line-height: 45px;
            padding: 0 8px;
        }
        tbody td:last-child {
            text-align: right;
        }
    }
}

.sensor-view-list {
}
.sensor-view {
    display: inline-block;
    width: 49%;
    // height: 300px;
    margin-right: 1%;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    border-radius: 4px;
    background: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(219, 219, 219);
    vertical-align: top;
    .chart-wrapper {
        width: 100%;
        height: 100%;
    }
    .sensor-last-observation {
        background-color: rgba(75,192,192,1);
        color: white;
        height: 70px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        padding: 10px;
        border-radius: 2px;
        display: inline-block;
        span.big {
            font-weight: bold;
            font-size: 20px;
        }
        span {
            font-size: 10px;
            > span {
                display: block;
            }
        }
    }
    .sensor-title {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        height: 70px;
        line-height: 70px;
    }
}
.highcharts-button {
    display: none;
}
.highcharts-container {
    margin-top: 10px;
}
.chart-control {
    vertical-align: bottom;
    width: 200px;
    margin-right: 10px;
    &.mode-control {
        vertical-align: top;
    }
}
.mode-control {
    position: absolute;
    top: 10px;
    right: 10px;
}
.range-control {
    margin-top: 10px;
    > * {
        display: inline-block;
    }
    .btn.btn-raised {
        margin-bottom: 0;
    }
    .input-group {
        input:focus {
            box-shadow: none !important;
        }
    }
    label {
        font-size: 12px;
        margin-bottom: 0;
    }
    a {
        padding-left: 5px;
    }
    button {
        vertical-align: middle;
        margin: 0;
    }
}
.empty-sensor-chart {
    height: 400px;
    padding-top: 180px;
    text-align: center;
    font-style: italic;
}
.mode-control .active {
    background-color: #0fb2fc !important;
    color: white;
}
.form-group {
    margin-top: 0;
    padding-bottom: 0;
    .form-control {
        margin-bottom: 0;
    }
}

.process-view {
    margin: 20px 0;
    padding: 25px;
    margin-right: 1%;
    margin-top: 20px;
    position: relative;
    border-radius: 4px;
    background: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(219, 219, 219);
    display: inline-block;
    label {
        display: block;
        margin-top: 20px;
    }
    h4 {
        text-transform: capitalize;
    }
    fieldset {
        width: 500px;
    }
    .process__last-command-result span {
        font-family: mono;
    }
    .form-group label.control-label {
        margin-top: 8px;
        text-align: left;
    }
    select option:empty { display:none }
    button.operation-btn {
        padding: 20px 15px;
        margin-right: 10px;
        height: 80px;
        div {
            font-size: 14px;
            color: white;
            line-height: initial;
            &:nth-of-type(2) {
                font-weight: normal;
                font-size: 10px;
            }
        }
    }
    .form-horizontal .form-group {
        margin: 30px 0 10px 0;
    }
    i.fa {
        position: absolute;
        top: 5px;
        right: 5px;
        color: white;
    }

}

.no-observations-banner {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-style: italic;
}